extends layout

block content
  h1= title
  div 
    table 
      thead 
        tr 
          th ID
          th Grupa 
      tbody
      each point in points
        tr
          td=point.number
          td=point.userId
