body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


table {
  margin-top: 1rem;
}

td, th {
  border:1px solid black;
  padding: 10px;
  text-align: center;

}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 35px;
  }

  td, th {
    font-size: 30px;
  }
}